body {
  margin: 4px;
  font-family: sans-serif;
}
a {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

/* Search form */
label {
  white-space: nowrap
}
form input, form select, form button {
  margin: 0 8px 4px 0
}
#minos,
#maxos {
  width: 4em;
}

/* General layout */
#content {
  margin: 20px 0;
}

/* Plist install */
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .6);
  min-width: 100%;
  min-height: 100%;
}
#installMsg {
  margin: 40px auto;
  max-width: 600px;
  background: white;
  padding: 20px 30px;
}

/* IPA entry */
h4 {
  margin: 0 0 8px;
}
.entry {
  display: inline-block;
  margin: 4px;
  width: 370px;
  background: #eee;
  overflow-x: scroll;
  white-space: nowrap;
}
.entry>div {
  display: inline-block;
  margin: 8px 8px 8px 0;
  vertical-align: top;
}
.entry img {
  width: 74px;
  height: 74px;
  margin: 0 8px 2px;
  border-radius: 17%;
}
.entry button {
  display: block;
  width: 74px;
  margin: 0 auto;
}

/* Single-item page */
.single {
  display: block;
  width: initial;
}
.randomAction {
  text-align: right;
  margin: 8px 20px;
}
.randomAction button {
  margin-left: 8px;
}
.itunes {
  max-width: 650px;
  margin: 40px auto;
}
.carousel {
  display: block;
  overflow: auto;
  max-height: 350px;
  white-space: nowrap;
}
.carousel img {
  max-height: 330px;
  margin: 8px;
  min-width: 100px;
  min-height: 100px;
}
.itunes p {
  white-space: pre-wrap;
}
.no-itunes {
  color: #777;
  text-align: center;
}

/* Pagination */
.shortpage {
  text-align: center;
  margin: 30px;
}
.shortpage>span {
  margin: 0 20px;
}
.shortpage>button {
  font-size: 1em;
}
.shortpage>button:first-child {
  float: left;
}
.shortpage>button:last-child {
  float: right;
}
#pagination>a, #pagination>b {
  display: inline-block;
  padding: 4px;
}